[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
jupyter = "*"
pandas = "*"
fastparquet = "*"
boto3 = "*"
pyarrow = "*"
scikit-learn = "==1.6.1"

[dev-packages]

[requires]
python_version = "3.12"
